body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background:white;
  font-family: 'Segoe UI';
}


#contenedor-pelis {
  display: flex;
  flex-direction: row;
justify-content: center;
}

.header-ordenado {
  display: flex;
  flex: auto;
  padding: auto;
}

h1{
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #2e2d2d;
  margin-left: 20px;
}

h3 {
  font-weight: bolder;
  color: black;
}
.page-title{
  text-align: center;

}

.navigation {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  text-align: center;
}
.header-ordenado{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categorias-header{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categorias-header p{
  margin: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.busqueda {
  align-self: center;
  border-style: none;
  border-radius: 3px;
  padding: 5px;
}

.form-busqueda{
  display: flex;
  flex-direction: row-reverse;
  border-color: transparent;
  flex: 1;
}


header{
  display: flex;
  background-color: #bdc3c7;
}

li {
  list-style: none;
  display: flex;
  flex:initial;
}
.contenedor-pelis{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card p{
  font-family:roboto,sans-serif;
  font-size: 14px;
  padding:10px
}
.card h3{
  color:black
}
.card img{
  border-radius: 25px;
  
}
.loadButton{
    padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:25px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color:black;
  }
  .loadButton:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  .pages{
    text-align:center;
  }
.pages li{
  padding:10px 10px 10px 10px;
  display: inline;
}
.product-box {
  flex: 1 0 32%;
  margin: 10px;
  text-align: center;
  border-radius:25px;
  background-color:#eee;
  overflow: hidden;
  transition: 300ms;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
  border-radius: 25px;
  width: 30%;
  height: auto;
}

.product-box_data {
  padding: 15px;
  
}

.product-box_data h2 {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 12px;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 36px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}
.product-box img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.banner{
  display:block;
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  height:auto;
}
.aditional-info{
  display:none;
}

.close-btn{
  background: #2e2e2e;
  background-image: -webkit-linear-gradient(top, #2e2e2e, #261e1e);
  background-image: -moz-linear-gradient(top, #2e2e2e, #261e1e);
  background-image: -ms-linear-gradient(top, #2e2e2e, #261e1e);
  background-image: -o-linear-gradient(top, #2e2e2e, #261e1e);
  background-image: linear-gradient(to bottom, #2e2e2e, #261e1e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 6px 2px 6px;
  text-decoration: none;
}

.close-btn:hover{
  background: #e0e0e0;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #f0f0f0);
  background-image: -moz-linear-gradient(top, #e0e0e0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #e0e0e0, #f0f0f0);
  background-image: -o-linear-gradient(top, #e0e0e0, #f0f0f0);
  background-image: linear-gradient(to bottom, #e0e0e0, #f0f0f0);
  text-decoration: none;
  color: black;
}