body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background: radial-gradient(#f2ece6, #fcf8f5);
  font-family: 'Segoe UI';
}


#contenedor-pelis {
  display: flex;
  flex-direction: row;
justify-content: center;
}

.header-ordenado {
  display: flex;
  flex: auto;
  padding: auto;
}

h1{
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #2e2d2d;
}

h3 {
  font-weight: bolder;
  color: #2e2d2d;
}

article .tarjeta {
  background-color: radial-gradient(#fcf8f5, #f2ece6);
  border-radius: 20px;
  position: relative;
  transition: transfrom 500ms;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.busqueda {
  align-self: center;
  border-style: none;
}

.form-busqueda{
  display: flex;
}

header{
  display: flex;
}

li {
  list-style: none;
  display: flex;
  flex:initial;
}
.contenedor-pelis{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}
.card{
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius:25px;
  background-color: grey;
}
.loadButton{
    padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:25px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color:black;
  }
  .loadButton:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  .pages{
    text-align:center;
  }
.pages li{
  padding:10px 10px 10px 10px;
  display: inline;
}